body {
    background-color: black;
    font-family: Arial, sans-serif;
}

.container {
    margin-left: 13%;
    margin-right: 13%;
    background-color: white;
    display: grid;
    height: 1fr;
    grid-template-columns: 1fr, 4fr;
    grid-template-rows: 1fr, 5fr;
}



